*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

form.weather_form input[type=text]{
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #f1f1f1;
}
 
form.weather_form{
    display:flex;
    justify-content: center;
    padding:10px;
    gap:5px;
}